@font-face{
    font-family: "Bgoth";
    src: url('../font/bgothm.ttf');
}
.clear{
    clear:both;
}              

#logo{
    width: 970px;
    height: 135px;
    background: url('../image/logo.png') no-repeat center;
    margin: auto;
    margin-top: 150px;
}

/* Debut */
.lien_installation{
    width: 970px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-family: Bgoth;
    font-size: 20px;
    color: #34302d;
}
.lien_installation a:link,.lien_installation a:visited,.lien_installation a:active{
    color: #34302d;
    text-decoration: none;
}
.lien_installation a:hover{
    color: #34302d;
    text-decoration: underline;
}


/* Etapes installation */
#etape_installation{
    display: block;
    width:970px;
    margin: auto;
    margin-top: 50px;
}

#etape_installation ul{
    margin: 0 auto;
    padding: 0;
    width:780px;
}
#etape_installation ul li{
    margin: 0px;
    padding: 0px;
    float:left;
    width: 250px;
    margin: 0 5px;
    text-align:center;
    font-family: Bgoth;
    list-style-type: none;
}